/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap");

/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

/* google fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.active {
  color: #eeff25;
}

.carousel .thumbs-wrapper {
  text-align: center;
  margin: 20px auto !important;
}

.carousel img {
  max-height: 50rem;
  object-fit: cover;
}

.boss-bg {
  background: url("../src//assets/home//chef-service.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.overlay {
  background-color: rgba(21, 21, 21, 0.7);
}

.active-tab {
  color: #bb8506;
  font-weight: 600;
  border-bottom: 4px solid #bb8506;
}

.active-tab :focus {
  border: 20px solid red;
}

.active-sidebar {
  color: white;
}
